@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

body{
   font-family: comic sans;    
}
 .custom-navbar .nav-link {
    color: black !important;
    font-weight: bold;
    font-size: 21px;
  }

  .custom-navbar .nav-link:hover {
    color: rgb(131, 200, 118) !important;
    border-radius: 5px;
    border: 2px solid rgb(112, 173, 120);
    
  }

  .custom-navbar .navbar-brand,
  .custom-navbar .navbar-toggler-icon {
    color: black !important;
  }

  .custom-navbar .btn-outline-success {
    border-color: black;
    color: black;
    
  }

  .custom-navbar .btn-outline-success:hover {
    background-color: black;
    color: white;
  }

  .highlight {
    background-color: rgb(72, 119, 65);
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

 /* Contenedor de las cards */
.content-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Estilos para cada card */
.card-flip {
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

/* Estilo del interior de la card para el flip */
.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  position: relative;
}

.card-flip:hover .card {
  transform: rotateY(180deg);
}

/* Estilo de las caras de la tarjeta */
.card-delantera, .card-atras {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card-delantera {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-delantera .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* Filtro de oscuridad */
  border-radius: 10px;
}

.contenido-card-delantera h1 {
  color: white;
  font-size: 24px;
  text-align: center;
  z-index: 1;
}

.card-atras {
  background-color: #95AB63;
  transform: rotateY(180deg);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenido-card-atras {
  color: #333;

}

.contenido-card-atras h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

.contenido-card-atras p {
  font-size: 16px;
  margin-bottom: 20px;
}

.contenido-card-atras a {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.contenido-card-atras a:hover {
  background-color: #0056b3;
}

.card-educate {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap; /* Esto ayuda a que se ajusten si no caben horizontalmente */
}

.card-delantera2 .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
}

.card-delantera2, .card-atras {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card-delantera2 {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-cards:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.educate:hover{
  color: white;
}

    .announcement-bar {
      /* background-color: #ffffff; */
      margin-top: 20px;
      overflow: hidden;
      display: flex;
    
    }

    .scroll-container {
      display: flex;
      width: 100%;
      overflow: hidden;
      position: relative;
    }

    .scroll-text {
      display: flex;
      animation: scroll-left 20s linear infinite;
    }

    .scroll-text img {
      height: 90px;
      margin: 0 3rem;
    }

    @keyframes scroll-left {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    footer h4:hover{
      color: white;
    }
    
         .info-card {
      position: absolute;
      background-color: white;
      padding: 10px;
      border: 2px solid #7ED958;
      border-radius: 10px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
      display: none;
      max-width: 250px;
      z-index: 10;
    }
    .highlight {
      background-color: yellow;
    }